$def with(prinum, segnum, resultado)
<!DOCTYPE html>

<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="ISO-8859-1">
        <title>Calculadora</title>
    </head>
    <body>
        <h1 align="center">Calculadora</h1>
        <hr>

        <a  href="/">Regresar al Incio</a>


        <p align="center" >Ingrese los datos</p>

        <form align="center" method="post">
            <label for="prinum">Primer número:</label><br>
            <input type="number" id="prinum" name="prinum" value=$prinum><br>
            <label for="segnum">Segundo número:</label><br>
            <input type="number" id="segnum" name="segnum" value=$segnum><br>
            <label for="resultado">Resultado de la operación:</label><br>
            <input  type="number" id="resultado" name="resultado" value=$resultado><br>
            <br>
            <button name="operacion" id="operacion" value=sumar >Sumar</botton>
            <button name="operacion" id="operacion" value=restar >Restar</button>
            <button name="operacion" id="operacion" value=multiplicar >Multiplicacion</button>
            <button name="operacion" id="operacion" value=dividir >Dividir</button>
            <button name="operacion" id="operacion" value=raiz >Raiz</button>
            <button name="operacion" id="operacion" value=potencia >potencia</button>
            <button name="operacion" id="operacion" value=modulo >modulo</button>
            <button name="operacion" id="operacion" value=limpiar >limpiar</button>

            
        
        </form>

    </body>
</html>
